<form action="/" method="POST">
  <div class="card-body mt-4 row justify-content-center">
    <input type="url" class="form-control" id="oriUrl" name="oriUrl" placeholder="Input URL here" required />
    <button type="submit" class="btn btn-outline-primary w-50 mt-2">Shorten</button>
  </div>
</form>