<div class="card-body mt-4 row justify-content-center">
  <input type="url" class="form-control" id="oriUrl" name="oriUrl" placeholder="Input URL here" value="{{this.oriUrl}}"
    disabled />
  <input type="url" class="form-control" id="shortUrl" name="shortUrl" value="{{this.shortUrl}}" disabled />
</div>